@import "./variables";
@import "./typography";
@import "./buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: $text;
  background: $background;
}

a {
  color: $link;
  text-decoration: none;
}

.content {
  margin: 0 auto;
  max-width: 960px;
}

nav {
  margin: 1rem auto 8rem;
  padding: 3rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid $border;

  & .logo {
    margin-right: auto;
  }

  & a {
    color: $text;
    margin-left: 1.2rem;
  }
}

.single {
  margin: 2rem 0;
  padding: 2rem 1.6rem;
  background: #fff;
  display: block;
  color: $text;
  border-left: 8px solid #fff;
  transition: border-color 0.4s;

  h3 {
    margin: 0;
  }

  &:hover {
    border-color: $primary;
  }
}

footer {
  margin-top: 6rem;
  padding: 3rem 0;
  color: $text2;
  border-top: 1px solid $border;
}
